/* POSITION FIXED: uno le da la ubicacion osea cuanto de top, cuanto de bottom de right,left y es fijo nada lo mueve
POSITION ABSOLUTE:uno le da los valores con respecto  a otro div que tenga la posicion relativa;
POSITION RELATIVE:es la referencia y el otro div lo toma asi;
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
#todo{
	background-image: url("../imagenes/Indoorspielplatz.jpg");
	width:100%;
	height: 100%;
}
.cabeza{
height:60px;
width:60px;
}
#firstpart{
	height: 40%;
	width: 100%;
	background-image: url("../imagenes/lutherhaus.jpg");
}
#idiomas{
	padding-left: 1200px;
}
#imagen{
width:60px;
height: 38px;
background-color: white;
}
#logo{
padding-top: 60px;
padding-left:30px;	
}	
			* {
				margin:0px;
			}
			
			#header {
				margin:auto;
				width:500px;
				font-family:Arial, Helvetica, sans-serif;
				padding-left: 400px;
				margin-bottom:90px;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
	#imgdinamica{
		margin-left: 65%;
		margin-top:  60px;
		height: 300px;
		width: 30%;
		border-width: 4px;
		border-style: solid;
		border-color: black;
		background-image: url("../imagenes/lutherhaus1.jpg");
		position: relative;
	}
	#descripcion{
		background-color: #6B7EE8;
		margin-top: 210px;
		opacity:0.6;
		width: 390px;
		height: 82px;
	}
	#ladescripcion{
		font-family: 'Special Elite', cursive;
		padding-top: 30px;
		padding-left: 20px;
		font-weight: bolder;
	}
	#izqdesign{
		width:40px;
		height:40px;
	}
	.izquierda{
		margin-left: 15%;
		width:60px;
		background-color: green;
	}
	.derecha{
		margin-left: 40%;
		width:60px;
		margin-bottom: 90%;
		background-color: yellow;
	}
	#botones{
		width:390px;
		margin-left: 65%;
		height:60px;
		position: absolute;
		margin-top: 10px;
	}
	#introduccion{
		width: 40%;
		margin-top: 20px;
		margin-left: 20px;
	}
	#titulo{
		font-family: 'Courgette', cursive;
		color: #7686E8;
	}
	#texto{
		margin-top: 60px;
		width: 50%;
		height: 360px;
		position: absolute;
	}
	.footer{
		background-color: black;
		height: 30%;
		width: 100%;
		position: absolute;
		margin-top: 10%;
	}
@media screen and (max-width: 1320px){
	#idiomas{
	padding-left:80%;
	}
	#descripcion{
		display:none;
	}
	.derecha{
		margin-left: 5%;
	}
	.izquierda{
		margin-left: 5%;
	}
	#imgdinamica{
		width:300px;
	}

}
#menutestimonios{
		background-color: #BEB6F0;
		position: relative;
		margin-top: 100px;
		width:75%;
		height:auto;
		margin-left: 50px;
		padding: 50px;
	}
	#mas{
		background-image: url("../imagenes/mas.jpg");
		margin-left: 70%;
		position: absolute;
		top:50px;
		width: 50px;
		height: 50px;
	}
	#menos{
		background-image: url("../imagenes/menos.png");
		margin-left: 90%;
		position: absolute;
		top:50px;
		width: 30px;
		height: 30px;
	}
	
	#testimonio1{
		background-color: #91FF2E;
		position: relative;
		margin-top: auto;
		width:75%;
		height:auto;
		margin-left: 50px;
		border-width: 4px;
		border-color: #1AEB01;
		border-style: solid;
		padding: 10px;
	}
	#testimonio2{
		background-color: #FFBE2E;
		position: relative;
		margin-top: auto;
		width:75%;
		height:auto;
		margin-left: 50px;
		border-width: 4px;
		border-color: #FF8824;
		border-style: solid;
		padding: 10px;
	}

		#testimonio3{
		background-color: #FF6A5A;
		position: absolute;
		margin-top: auto;
		width:75%;
		height:auto;
		margin-left: 50px;
		border-width: 4px;
		border-color: #FF251D;
		border-style: solid;
		padding: 10px;
	}

	.nombres{
		margin-left: 70%;

	}
	#bienvenida{
		margin-left: 35%;
		margin-top: 100px;

	}
	#öffnungszeiten{
		margin-top: 40px;
		position: absolute;
		margin-left: 30%;
		height: 300px;
	}
	#Fondo{
		position: absolute;
		height:100%; 
		width:100%;
		background-color: #FF8840;

	}
	.kindergottesdienst{
	border-radius: 30%;
	width: 150px;
	height: 150px;
	margin-top: 10%;
	position: absolute;
	}
	.kindergottesdienst:hover{
	opacity: 0.8;
  filter: alpha(opacity=50);
}
#schäfchen{
	margin-left: 25%;
}
#Löwen{
	margin-left: 40%;
}
#Königskinder{
	margin-left: 55%;
}
.textokinder{
	width:500px;
	height: 500px;
	position: absolute;
	margin-left: 30%;
	margin-top: 5%;
	background-image: url("../imagenes/bibliakinder.jpg");
}
#kindertext{
	padding-left: 20px;
	padding-top: 15px;
	background-color: rgb(51, 102, 255);
}
.animacionpicture{
	position: absolute;
	margin-top: 20%;
	margin-left: 20px;
	-webkit-animation-name:animacion1;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction:alternate;
}
#gif{
	position: absolute;
	margin-left: 75%;
}
#return{
	position: absolute;
	margin-left: 80%;
	width:132px;
	height: 132px;
	margin-top: 25%;
	background-image: url("../imagenes/return.png");
	border-radius: 15%;
}
.tesoro{
	position: absolute ;
	top: 50%;
	left:5%;
}
.tesoro:hover{
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}
#Rangers{
	position:absolute;
	top:50%;
	left:10%;
	width:70%;
	background-color:rgb(178, 147, 255);
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 12px;
	display:block;
	list-style:none;
}
.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}
.vertical-menu li a {
				text-decoration:none;
				padding:5px 6px;
				display:block;
}
.flyer{
	font-family: 'Special Elite', cursive;
}
#gottesdienstbild{
	position: absolute;

}
#textodienst{
	position: absolute;
	margin-left: 50%;
	width:49%;
	height:65%;
	background-color: violet;
	top:42%;
	font-family: "Goudy Bookletter 1911", sans-serif;
	padding: 10px;
}
.cafe:hover{
	opacity: 0.8;
  filter: alpha(opacity=50);
}
#Essendata{
	position: absolute;
  	background-color: #D9B6FE;
  	top: 40%;
  	width: 100%;
  	height:70%;
  	opacity: 0.8;
}
#paintyouridea{
	position: absolute;
	margin:20px;
	border: 2px solid black;
	width: 70%;
	height:80%;
	cursor:none;
}
#titlecolor{
	color: white;
}
#choosecolor{
	position: absolute;
	margin-top: 20px;
	padding-left: 35%;
	background-color: black;
	width:65%;
}
.colors{
	border-radius:20px 20px 20px;
	width:30px;
	height:30px;
}
.colors:hover{
	cursor:pointer;
}
#graphic{
	border-radius: 50%;
}
#Mauer{
	border:2px solid black;
	position: relative;
	margin-top: 90px;
	margin-left: 2px;
	width:99%;
	height:81%;
}
#Elim-Jugend{
	position: absolute;
	margin-left: 75%;
	margin-top: 20px;
	width:20%;
}
i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: -7px 0 0px 7px;
    vertical-align: middle;
}
.navmenu{
	margin: 30px auto;
    background-color: #4fb7f9;
  	box-shadow: 0px 3px 20px 3px #162433;
}
.navmenu ul ul{
	display: none;
    position: absolute;
}
.navmenu ul li:hover >ul{
    display:inherit;
}
.navmenu a {
    display:block;
    padding:5px; 
    color:#FFF;
    font-size:16px;
    line-height: 60px;
    text-decoration:none;
}
.navmenu a:hover { 
    background-color: #000000; 
}
.navmenu ul li ul p{
	background-color: #4fb7f9; 
	position: relative;
}
.beschreibungleitung{
	position:absolute;
	margin: 20px;
	width:90%;
	height: 80%;
}
.beschreibungbox{
	position: relative;
	margin: 20px;
}
#Pastor{
	background-color:#BFD1B6;
	width:90%;
	height: 20%;
}
#Mentor{
	background-color:#E9DA9D;
	width:90%;
	height: 20%;
}

@-webkit-keyframes animacion1{
	from{
		top:20%;
		left:20px;
	}
	to{
		top:-30%;
		left:15%;
	}
}
@media screen and (max-width: 1000px){
	/*body{
		background:#ff6000;
	}*/
	#header{
	padding-left:50%;
	width:50%;
	}
	#imgdinamica{
		width:250px;
	}

}
