#cuadrodejuegos{
width:100%;
height:100%;
background-color: #3A42EB;	
position: relative;
}
#titel{
	font-family: 'Titan One', cursive;
	color:#E89902;
	padding-top: 40px;
	padding-left: 40%;
}
#triqui{
	width:150px;
	height:150px;
	position: absolute;
	margin-left: 20%;
	margin-top: 50px;
	border-radius: 15px;
	background-image: url("../imagenes/triqui.png");
}
.botoneleccion:hover{
	opacity: 0.8;
  filter: alpha(opacity=50);
}
#espaciojuegos{
	background-color: #B59AFF;
	opacity: 0.8;
	width: 100%;
	height: 80%;
	position: relative;
	margin-top: 20px;
}
#memory{
	width:150px;
	height:150px;
	position: absolute;
	margin-left: 40%;
	margin-top: 50px;
	border-radius: 15px;
	background-image: url("../imagenes/memory.png");
}
#sudoku{
	width:150px;
	height:150px;
	position: absolute;
	margin-left: 60%;
	margin-top: 50px;
	border-radius: 15px;
	background-image: url("../imagenes/sudoku.png");
}
#ahorcado{
	width:150px;
	height:150px;
	position: absolute;
	margin-left: 30%;
	margin-top: 250px;
	border-radius: 15px;
	background-image: url("../imagenes/ahorcado.jpg");
}
#bibelquiz{
	width:150px;
	height:150px;
	position: absolute;
	margin-left: 30%;
	margin-top: 250px;
	border-radius: 15px;
	background-image: url("../imagenes/bibel.jpg");
}
#bibelquiz{
	width:150px;
	height:150px;
	position: absolute;
	margin-left: 50%;
	margin-top: 250px;
}

#L{
	margin-top:100px;
	width: 100px;
	height:100px;
	margin-left: 600px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
#C{
	margin-top:100px;
	width: 100px;
	height:100px;
	margin-left: 700px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
#R{
	margin-top:100px;
	width: 100px;
	height:100px;
	margin-left: 800px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
#LL{
	margin-top:200px;
	width: 100px;
	height:100px;
	margin-left: 600px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
#CC{
	margin-top:200px;
	width: 100px;
	height:100px;
	margin-left: 700px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
#RR{
	margin-top:200px;
	width: 100px;
	height:100px;
	margin-left: 800px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
#LLL{
	margin-top:300px;
	width: 100px;
	height:100px;
	margin-left: 600px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
#CCC{
	margin-top:300px;
	width: 100px;
	height:100px;
	margin-left: 700px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
#RRR{
	margin-top:300px;
	width: 100px;
	height:100px;
	margin-left: 800px;
	position: absolute;
	border-style: solid;
	border-radius: 4px;
	border-color: #EB5C15;
}
.btnmemory{
	margin-top:70px;
	margin-left:200px;
	width: 100px;
	height:100px;
}
#kindersudoku{
	position: absolute;
	margin-top: 70px;
	margin-left: 40%;
	width:30%;
	height:250px;
}
#regreso{
	margin-left: 40%;
	margin-top: 150px;

}
#figuras{
	margin-left:30px;
	margin-top: 10px;
	height: 500px;
	width:100px;
	position: absolute;
}
#cuadrado{
	width:100px;
	height: 100px;
	background-image: url("../imagenes/cuadrado.jpg");
	position: relative;
}
#pentagono{
	width:100px;
	height: 100px;
	background-image: url("../imagenes/pentagono.jpg");
	position: relative;	
}
#estrella{
	width:100px;
	height: 100px;
	background-image: url("../imagenes/estrella.jpg");
	position: relative;	
}
#circuloimg{
	width:100px;
	height: 100px;
	background-image: url("../imagenes/circulo.jpg");
	position: relative;	
}
#triangulo{
	width:100px;
	height: 100px;
	background-image: url("../imagenes/triangulo.jpg");
	position: relative;	
}
#verificarcampo{
	margin-top: 250px;
	margin-left: 80%;
	height:100px;
	width:100px;
	position: absolute;
}
#horca{
	margin-top:50px;
	margin-left:15%;
	width:250px;
	height:80%;
	position: absolute;
}
#galgenmann{
	margin-top: 20px;
	margin-left: 75%;
	height:90%;
	width:22%;
	position: absolute;
	background-color: orange;
}
#palabra{
	margin-top: 100px;
	margin-left: 40%;
	height: 70%;
	width: 20%;
	position: absolute;
}
#abecedario{
	margin-left:15%;
	height: 8%;
	width:68%;
	position: absolute;
}
.bibelfragen{
	margin-left: 30%;
	margin-top: 8%;
	position: absolute;
	background-color: #F8FED5;
	width:600px;
	height: 300px;
}
#enviorta{
	position: absolute;
	width: 100px;
	height: 50px;
	margin-left:60%;
	margin-top: 200px;
}
#pregunta{
	position: absolute;
	padding-top: 50px;
	padding-left: 100px;
	width:500px;
}
#respuesta{
	position: absolute;
	padding-top: 100px;
	padding-left: 100px;
}
#ergebnisse{
	position: absolute;
	padding-left:15%;
	padding-top:180px;
}
#quizback{
	position: absolute;
	margin-left: 80%;
	margin-top: 250px;
}